*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

}

section{
    width: 1000px;
    margin: 30px auto;
}


/*----------SECCIÓN 1----------*/


.tituloI{
    color: #000000;
    font-size: 60px;
    text-align: center; 
    margin: 30px 0px 0px 0px;
}

.texto1{
    font-size: 18px;
}



}
  
.subtitulo{
    font-size: 1em;
    margin-top:1em;

}
.descript{
    font-size: 1.2em;

}
/sublista/
.sub_lista{
    margin: 10px 0px 0px 20px;
   }
.sub_lista li{
    margin: 10px 0px 0px 20px:
           }
.p_head{ 
    margin:10px 0px 5px 0px;
    
           }
.p_body{
    margin:10px 0px 5px 0px;
           }
*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
section{
    width: 1000px;
    margin: 30px auto;
    box-sizing: border-box;
}


/*-------------SECCIÓN 1*/
.TITULO{
    color:black;
    Font-size:30px;   
    margin: 10px 0px 0px 0px;
}
.descripcion_section1{
    font-size: 15px;
}
/*-------------SECCIÓN 2*/
.tabla_tipo_etiquetas{
    
}
.tabla_tipo_etiquetas{
    border: 1px solid black;
}
.filaTitulo{
    background-color:#182126;
}
.txt_titulo{
    padding: 5px 0px 5px 0px;
    font-size: 25px;
    text-align:cursive;
    color:white;
}
.descripcion_tipo_etiquetas td{
    font-size:15px;
    width:50%;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    text-align: justify;
}

/*-------------SECCIÓN 3*/
.titulo_categoria{
    Font-size:17px;
    color:#D8BFD8;
}
.ls_tipo_etiqueta{
    color:black;
    list-style: none;
    margin: 0px 0px 0px 50px;
}
.titulo_elemento_categoria{
    Font-size:17px;
    color:#182126;
    margin: 10px 0px 0px 0px;
}
.descripcion_elemento{
    font-size: 15px;
}
/*____tablas de head y body*/
.titulo_para_head, .titulo_para_body{
    font-size: 15px;
    padding: 20px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}

.txt_etiqueta{
    width: 300px;
}
.S5{
    box-sizing: 30px;
}

.propiedades_tablas{
    margin: auto;
    border-collapse: collapse;
}

tr,td{
    border: 2px solid #000000;
}

.celdas3{
    background-color:#E6E6FA;
    font-size: 25px;
    color: #FAFAFA;
    text-align: center;
}

.colores_lista{
    margin: auto;
    color: #54B7D7;
}




.S6{
    box-sizing: 30px;
}

.mdc{
    color: #000000;
    font-size: 28px;
    text-align: center;
}

.recurso2{
    width: 500px;
    height: 350px;
    margin: 15px 0px 0px 275px;
}
