
*{
    margin: 0px;
    padding: 0px: 'Playfair Display', serif;
}

header{
     width: 100%;
    height: 60px;
      background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 :root {
   background:  #FA8072;
   background:  #F08080;
   background:  #CD5C5C;
   background:  #E9967A;
   background:  #FFA07A;
}   


logo{
    color:#fff;
    font-size: 25px;
}

nav{
    list-style: none;
    width: 400px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li{
    color:#fff;    
}


    
.botones{
    display: block;
    width: 75px;
    margin: auto;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 4px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,251,1) 100%);
    
}

.botones:hover{
    width: 100px;
    transition: 0.3s;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,251,1) 100%);
    
}


