{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Playfair Display', serif;
    
        }



html{
    font-size: 62.5%;/*10px*/
}

-root {
--color1
--color2
--color3
--color4
--color5
    
}