
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
section{
    width: 1000px;
    margin: 30px auto;
}
.tabla{
    margin: 10px 180px 10px 180px;
}

.titulo1{
    font-family:'Playfair Display', serif;
    font-size: 50px;
    color:#8A2BE2;
    text-align: center;
    margin: 10px;
}
.parrafo1{
    font-family: 'Playfair Display', serif;
    text-align: inherit;
    margin: 10px 200px 10px 200px;
}

.titulo_tabla{
    font-family:'Playfair Display', serif;
    text-align: center;
    font-size: 25px;
    color: #000000;
    background-color:#D8BFD8;
}
.cont_tab{
    font-family:'Playfair Display', serif;
    text-align: center;
    color:#000000;
    margin: 10px 200px 10px 200px;
    padding: 5px;
    background-color:#E6E6FA;
}
.titulo_categoria{
    font-family:'Playfair Display', serif;
    font-size: 30px;
    color:#8A2BE2;
 text-align: center;
    text-align: center;
    margin: 10px;   
}

.titulo_elemento_categoria{
    font-family:'Playfair Display', serif;
    font-size: 30px;
    color:#800080;
    margin: 10px;  
    
    }
   .descripcion_elemento{
    font-size: 15px;
}
/*____tablas de head y body*/
.titulo_para_head, .titulo_para_body{
    font-size: 15px;
    padding: 20px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
} 
txt_etiqueta{
    width: 300px;
}
.S5{
    box-sizing: 30px;
}

.propiedades_tablas{
    margin: auto;
    border-collapse: collapse;
}

tr,td{
    border: 2px solid #000000;
}
.S6{
    box-sizing: 30px;
    text-align: center;
}



.recurso2{
    width: 500px;
    height: 350px;
    margin: 15px 0px 0px 275px;
}





.S7{
    box-sizing: 30px;
}


.propiedades_tablas{
    margin: 10px auto 10px auto;
    border-collapse: collapse;
}

tr,td{
    border: 2px solid #000000;
}

.celdas3{
    background-color:#D8BFD8;
    font-size: 25px;
    color: #000000;
    text-align: center;
}

.recurso3{
    width: 600px;
    height: auto;
    margin: 20px 240px 20px 240px;
}

.texto3{
    font-size: 20px;
    margin:30px 0px 50px 0px;
    text-align: center;
}



